<nav class="container mx-auto px-4 h-full">
  <div class="flex flex-col justify-end items-center h-full space-y-4 pb-8">
    <p class="text-white text-center text-lg font-semibold">Brenda Hakimian</p>
    <p class="text-white text-center">
      © 2025 Brenda Hakimian. Todos los derechos reservados.
    </p>
  </div>
</nav>
