<nav class="container mx-auto px-4 h-full">
  <div class="flex items-center justify-between h-full">
    <div class="text-white text-2xl font-bold">Brenda Hakimian</div>
    <ul class="flex space-x-8 text-white">
      <li>
        <a
          href="#acerca"
          class="hover:text-red-200 transition-colors duration-300"
        >
          Acerca
        </a>
      </li>
      <li>
        <a
          href="#habilidades"
          class="hover:text-red-200 transition-colors duration-300"
        >
          Habilidades
        </a>
      </li>
      <li>
        <a
          href="#contacto"
          class="hover:text-red-200 transition-colors duration-300"
        >
          Contacto
        </a>
      </li>
    </ul>
  </div>
</nav>
